// ---------------------- FONTS IMPORTS ---------------------- //
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Luckiest+Guy&display=swap');

// --------------------- FONTS VARIABLES --------------------- //
$font-1: "Luckiest Guy", sans-serif;
$font-2: "Comic Neue", sans-serif;

// -------------------- COLORS VARIABLES --------------------- //

$boat-width: 14em;
$wave-speed: 12s;
$wave-front-color: #0cabaa;
$wave-back-color: #108291;
$sky1-color: #a5e1dd;
$sky2-color: #d3ede2;
$hull-color: #473322;
$mast-color: #674333;
$sail-color: #f2edea;
$flag-color: #ff0000;
$skull-color: #ffffff;
$sand-color: #f6d7b0;

// ------------------- ANIMATION VARIABLES ------------------- //
$boat-width: 14em;
$wave-speed: 12s;


// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
:root {
    --font1: #{$font-1};
    --font2: #{$font-2};
    --boat-width: #{$boat-width};
    --wave-speed: #{$wave-speed};
    --wave-front-color: #{$wave-front-color};
    --wave-back-color: #{$wave-back-color};
    --sky1-color: #{$sky1-color};
    --sky2-color: #{$sky2-color};
    --hull-color: #{$hull-color};
    --mast-color: #{$mast-color};
    --sail-color: #{$sail-color};
    --flag-color: #{$flag-color};
    --skull-color: #{$skull-color};
    --sand-color: #{$sand-color};
  }

  .font1 {
    font-family: var(--font1);
  }

  .font2 {
    font-family: var(--font2);
  }