/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square-class {
  height: 80%;
  width: 80%;
}


/* If screen width is greater than height */
@media (min-aspect-ratio: 1/1) {
  .square-class {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
  }
}

/* If screen height is greater than width */
@media (max-aspect-ratio: 1/1) {
  .square-class {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
