/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* If height is limiting dimension */
@media (min-aspect-ratio: 3/2) {
  .square-class {
    height: 100%;
    width: auto;
    aspect-ratio: 3 / 2;
  }
}

/* If width is limiting dimension */
@media (max-aspect-ratio: 3/2) {
  .square-class {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
  }
}
